@using EcommerceWeb.Mvc.Models.Reviews
@model IEnumerable<ReviewVM>
@{
    //var id = Context.Request.Query["ProductId"].ToString();
    string value = ViewContext.RouteData.Values["id"] as string;
}
<div class="bor10 m-t-50 p-t-43 p-b-40">
    <div class="tab01">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item p-b-10">
                <a class="nav-link" data-toggle="tab" href="#reviews" role="tab">Reviews (@Model.Count())</a>
            </li>
        </ul>
        <div class="tab-content p-t-43">
            <div class="tab-pane fade" id="reviews" role="tabpanel">
                <div class="row">
                    <div class="col-sm-10 col-md-8 col-lg-6 m-lr-auto">
                        <div class="p-b-30 m-lr-15-sm">
                            @foreach(var review in Model)
                            {
                                <div class="flex-w flex-t p-b-68">
                                <div class="wrap-pic-s size-109 bor0 of-hidden m-r-18 m-t-6">
                                    <img src="~/images/avatar-01.jpg" alt="AVATAR">
                                </div>

                                <div class="size-207">
                                    <div class="flex-w flex-sb-m p-b-17">
                                        <span class="mtext-107 cl2 p-r-20">
                                            @(review.UserName)
                                        </span>
                         
                                        <span class="fs-18 cl11" id="rating-start">
                                            @for(int i =1; i <= 5; i++)
                                            {
                                                if(i > review.Rating)
                                                {
                                                    <i class="zmdi zmdi-star-outline"></i>
                                                }
                                                else{
                                                    <i class="zmdi zmdi-star"></i>
                                                }
                                            }
                                            <div class="stext-102 cl6">
                                                <button type="button" onclick="showEditForm('@review.Id')">Edit</button> 
                                                |
                                                <form asp-controller="Review" asp-action="Delete" method="post" class="d-inline">
                                                    <input type="hidden" name="reviewId" value="@review.Id" />
                                                    <input type="hidden" name="productId" value="@review.ProductId" />
                                                    <input type="hidden" name="_method" value="DELETE" />
                                                    <button type="submit" >Delete</button>
                                                </form>
                                            </div>
                                                
                                        </span>
                                    </div>

                                    <p class="stext-102 cl6" id="comment-text">
                                        @review.Commnet
                                    </p>
                                </div>
                            </div>
                            <div id="editForm_@review.Id" style="display: none;">
                                @await Html.PartialAsync("~/Views/Shared/Components/ReviewList/Partials/_Update.cshtml", review)
                            </div>
                            }
                            @await Html.PartialAsync("~/Views/Shared/Components/ReviewList/Partials/_Create.cshtml", new ReviewVM{ProductId = value})
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@await Html.PartialAsync("~/Views/Shared/Components/ReviewList/Partials/_Script_Review.cshtml")