@using EcommerceWeb.Mvc.Models.Common
@using EcommerceWeb.Mvc.Models.Products
@model ProductVM;

@{
    var product = @Model;

    Layout = "~/Views/Shared/Layouts/_LayoutNoSidebar.cshtml";

}
<div class="bg-white">
    <div class="pt-6">

        <!-- Breadcrumbs -->
        <nav aria-label="Breadcrumb">
            <ol role="list" class="mx-auto flex max-w-2xl items-center space-x-2 px-4 sm:px-6 lg:max-w-7xl lg:px-8">
                <li>
                    <div class="flex items-center">
                        <a href="#" class="mr-2 text-sm font-medium text-gray-900">@product.Category.Name</a>
                        <svg width="16" height="20" viewBox="0 0 16 20" fill="currentColor" aria-hidden="true"
                             class="h-5 w-4 text-gray-300">
                            <path d="M5.697 4.34L8.98 16.532h1.327L7.025 4.341H5.697z" />
                        </svg>
                    </div>
                </li>

                <li class="text-sm">
                    <a href="#" aria-current="page" class="font-medium text-gray-500 hover:text-gray-600">@product.Name</a>
                </li>
            </ol>
        </nav>

        <div class="w-full mx-auto max-w-screen-xl my-8 space-y-12">
            <!-- Images gallery -->
            <section class="flex gap-12 pb-12 border-b">
                <div class="flex-1">
                    <!-- Slider main container -->
                    <div class="swiper">
                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper relative">
                            <!-- Slides -->
                            @if (product.ImgUrls.Count() > 0)
                            {

                                foreach (var imgUrl in product.ImgUrls)
                                {
                                    <div class="swiper-slide">
                                        <div class="w-full rounded-lg overflow-hidden">
                                            <partial name="~/Views/Shared/Partials/_ServerImage.cshtml"
                                                     model='new SaveImageModel {Url= imgUrl, AltURL=product.Name, ClassName="h-full w-full object-cover object-center lg:h-full lg:w-full"}' />
                                        </div>
                                    </div>
                                }
                            }
                            else
                            {
                                <div class="swiper-slide">
                                    <div class="w-full rounded-lg overflow-hidden">
                                        <img src="https://tailwindui.com/img/ecommerce-images/product-page-01-related-product-01.jpg"
                                             alt="Front of men&#039;s Basic Tee in black."
                                             class="h-full w-full object-cover object-center lg:h-full lg:w-full">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="w-full rounded-lg overflow-hidden">
                                        <img src="https://tailwindui.com/img/ecommerce-images/product-page-01-related-product-01.jpg"
                                             alt="Front of men&#039;s Basic Tee in black."
                                             class="h-full w-full object-cover object-center lg:h-full lg:w-full">
                                    </div>
                                </div>
                            }

                        </div>
                        <!-- If we need pagination -->
                        <div class="swiper-pagination"></div>

                        <!-- If we need navigation buttons -->
                        <div class="swiper-button-prev bg-white p-1 rounded-full drop-shadow-md h-8 w-8">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                 stroke="currentColor" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
                            </svg>
                        </div>
                        <div class="swiper-button-next bg-white p-1 rounded-full drop-shadow-md h-8 w-8">

                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                 stroke="currentColor" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                            </svg>
                        </div>
                        <!-- If we need pagination -->
                        <div class="swiper-pagination"></div>
                    </div>


                </div>

                <!-- Content Aside -->
                <div class="flex-1 space-y-4">
                    <h3 class="text-lg uppercase mb-2">
                        @product.Name
                    </h3>
                    <div class="flex items-center gap-2">
                        <ul class="flex gap-[2px]">
                            @foreach (var (value, i) in (new List
                            <string> { "star", "star", "star", "star", "star" }).Select((value, i) => (value, i)))
                            {
                                <button type="button"
                                        class="review-star-btn stroke-black fill-white hover:fill-amber-400 hover:stroke-amber-400">
                                    <input type="text" value="@i" class="hidden" />
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24" stroke-width="1.5"
                                         stroke="currentColor" class="size-5 fill-inherit stroke-inherit">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                              d="M11.48 3.499a.562.562 0 0 1 1.04 0l2.125 5.111a.563.563 0 0 0 .475.345l5.518.442c.499.04.701.663.321.988l-4.204 3.602a.563.563 0 0 0-.182.557l1.285 5.385a.562.562 0 0 1-.84.61l-4.725-2.885a.562.562 0 0 0-.586 0L6.982 20.54a.562.562 0 0 1-.84-.61l1.285-5.386a.562.562 0 0 0-.182-.557l-4.204-3.602a.562.562 0 0 1 .321-.988l5.518-.442a.563.563 0 0 0 .475-.345L11.48 3.5Z" />
                                    </svg>

                                </button>
                            }
                        </ul>
                        <span class="text-sm text-gray-500">20 reviews</span>
                    </div>

                    <h5 class="text-red-700 my-4 text-lg">
                        $@product.Price
                    </h5>

                    <p>
                        @product.Description
                    </p>

                    <div class="border-t border-b border-gray-300 py-6 my-4">
                        <p class="text-sm font-light text-neutral-600">
                            *Order in the next 3 hours 56 minutes to get it between <strong>Monday, 27 May</strong> and
                            <strong>
                                Tuesday, 28
                                May
                            </strong>.
                        </p>
                    </div>

                    <div>
                        <p class="text-sm text-neutral-500 mb-6">
                            Sustainability Icons provide transparency for you, the consumer, to be able to make more responsible
                            purchases based on your values and goals to live more low waste.
                        </p>

                        <form id="add-to-cart-form" class="flex gap-2">
                            <input type="text" name="productId" class="hidden" value="@product.Id" />

                            <div class="border rounded-md p-2 flex items-center gap-5 text-lg">
                                <!-- Decrease quantity -->
                                <button id="decrease-quantity-btn" type="button"
                                        class="hover:stroke-neutral-500 transition-all duration-500">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                         stroke="currentColor" class="size-6">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M5 12h14" />
                                    </svg>
                                </button>

                                <input id="product-quantity" name="productQuantity" type="number" value="1" class="w-12 text-center" />

                                <!-- Increase quantity -->
                                <button id="increase-quantity-btn" type="button"
                                        class="hover:stroke-neutral-500 transition-all duration-500">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                         stroke="currentColor" class="size-6">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                                    </svg>
                                </button>
                            </div>

                            <div class="flex-1 flex-center">
                                <button type="submit"
                                        class="w-full h-full bg-blue-300 text-blue-950 rounded-md hover:bg-blue-950 hover:text-white transition-all duration-300 uppercase font-semibold tracking-wider">
                                    Add to cart - $@product.Price
                                </button>
                            </div>
                        </form>
                    </div>

                    <div>
                        <p class="text-center text-sm">
                            Earn $10 in ZWS Points when you spend $100 | Free US Shipping over $50
                        </p>
                    </div>
                    <hr />

                    <div>
                        <h4 class="text-lg my-4">Product Details</h4>
                        <ul class="list-disc list-inside">
                            @* <li>Material: @product.Material</li>
                            <li>Size: @product.Size</li>
                            <li>Color: @product.Color</li>
                            <li>Weight: @product.Weight</li> *@
                        </ul>
                    </div>
                </div>
            </section>

            <section>
                <div class="text-center space-x-12">
                    <button type="button" value="description" class="product-info-btn selected">Description</button>
                    <button type="button" value="reviews" class="product-info-btn">
                        Customer
                        Reviews
                    </button>
                </div>
                <div id="product-description-sec">
                    <partial name="Partials/_ProductInfo.cshtml" model="@Model"></partial>
                </div>
                <div id="product-reviews-sec" class="hidden">
                    <vc:product-reviews product="@Model"></vc:product-reviews>
                </div>
            </section>
        </div>

    </div>
</div>


@section PageScripts {
    <script src="~/js/product-detail.js" asp-append-version="true"></script>
    <script src="~/js/view-components/product-reviews.js" asp-append-version="true"></script>
}

@section PageStyles {
    <link rel="stylesheet" href="~/css/views/product-detail.css" asp-append-version="true" />

    <style>
        .swiper-button-next::after,
        .swiper-button-prev::after {
            content: "";
        }

        .swiper {
            width: 600px;
            height: 100%;
        }
    </style>
}
